<h1 class="text-center">Stopwatch</h1>
<div class="jumbotron">
  <span>{{ vm.current_lap | amDateFormat:'mm:ss.SS' }}<span>
  <h1>{{ vm.total | amDateFormat:'mm:ss.SS' }}</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 text-center">
      <button type="button" class="btn btn-lg btn-warning" ng-if="vm.running" ng-click="vm.stop()">Stop</button>
      <button type="button" class="btn btn-lg btn-warning" ng-if="!vm.running" ng-disabled="vm.total == 0" ng-click="vm.reset()">Reset</button>
    </div>
    <div class="col-sm-6 text-center">
      <button type="button" class="btn btn-lg btn-success" ng-if="vm.running" ng-click="vm.lap()">Lap</button>
      <button type="button" class="btn btn-lg btn-info" ng-if="!vm.running" ng-click="vm.start()">Start</button>
    </div>
  </div>
</div>

<table class="table table-striped">
  <tr ng-repeat="lap in vm.laps">
    <td class="text-right">
      {{ lap | amDateFormat:'mm:ss.SS' }}
    </td>
  </tr>
</table>
