<h2 class="text-center">Stopwatch</h2>
<div class="jumbotron">
  <span>{{ timer.current_lap | amDateFormat:'mm:ss.SS' }}<span>
  <h1>{{ timer.total | amDateFormat:'mm:ss.SS' }}</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 text-center">
      <button type="button" class="btn btn-lg btn-default btn-block" ng-if="!timer.running" ng-disabled="timer.total == 0" ng-click="timer.reset()">Reset</button>
      <button type="button" class="btn btn-lg btn-default btn-block" ng-if="timer.running" ng-click="timer.lap()">Lap</button>
    </div>
    <div class="col-sm-6 text-center">
      <button type="button" class="btn btn-lg btn-success btn-block" ng-if="!timer.running" ng-click="timer.start()">Start</button>
      <button type="button" class="btn btn-lg btn-danger btn-block" ng-if="timer.running" ng-click="timer.stop()">Stop</button>
    </div>
  </div>
</div>

<div class="container" ng-if="timer.laps.length">
  <h3 class="text-center">Laps</h3>
  <table class="table table-striped">
    <tr ng-repeat="lap in timer.laps track by $index">
      <td class="text-left">
        Lap {{ timer.laps.length - $index }}
      </td>
      <td class="text-right">
        {{ lap | amDateFormat:'mm:ss.SS' }}
      </td>
    </tr>
  </table>
</div>
